/* background color - main section */

main {
    background-color: white;
}

/* featured products carousel section */

.featured-products-section container {
    display: flex;
}

.container h2 {
    text-align: center;
    margin-top: 60px;
}

.featured-products-section {
    height: 70vh;
    display: flex;
}

.featured-products-div {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#carouselExample {
    width: 80%;
    display: flex;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 70%;
}

#carousel-item-active,
#carousel-item2,
#carousel-item3 {
    text-align: center;
    background-color: #5F9EA0;
}

#carousel-item-active img,
#carousel-item2 img,
#carousel-item3 img {
    margin: 20px;
    width: 250px;
    height: 250px;
}


.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

/* Newsletter section */

.newsletter .container {
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

#about-newsletter {
    width: 30%;
}

.subscribe-newsletter-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#subscribe-email-input {
    width: 60%;
}

#button-inscrip-newsletter {
    width: 35%;
}

.subscribe-newsletter-container button,
.subscribe-newsletter-container input {
    height: 4vh;
    width: 100%;
    margin-top: 10px;
}

.subscribe-newsletter-container button {
    border: none;
}

#subscribe-email-input input {
    padding-left: 5px;
}


#about-newsletter p {
    word-wrap: break-word;
}

/*  Products section */

.products {
    height: 65vh;
}

#container-product-images {
    display: flex;
    justify-content: center;
}

.products-images {
    height: 50vh;
    width: 85%;
    display: flex;
    justify-content: space-around;
}

#first-block-image,
#middle-block-images,
#last-block-images {
    width: 25%;
}

#first-block-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#first-block-image img {
    width: 80%;
    height: 40vh;
    align-self: center;
}

#middle-block-images,
#last-block-images {
    height: 100%;
    text-align: center;
}

#middle-block-images img,
#last-block-images img {
    height: 20vh;
}

#first-block-text p,
#middle-up-text p,
#middle-down-text p,
#last-up-text p,
#last-down-text p {
    font-size: 14px;
    margin: 0;
}

/* About the site section */

.about {
    height: 35vh;
}

.about .container {
    display: flex;
    justify-content: center;
}

.about-text {
    height: 20vh;
    width: 60%;
    text-align: center;
    padding-top: 30px;
}

/* responsive */
@media (max-width: 993px) {

    /* carousel */
    #carousel-item-active img,
    #carousel-item2 img,
    #carousel-item3 img {
        margin: 20px;
        width: 220px;
        height: 220px;
    }

    #carouselExample {
        width: 90%;
    }

    /* newsletter */
    .subscribe-newsletter-container {
        flex-direction: column;
        justify-content: flex-start;
        width: 35%;
    }

    #subscribe-email-input,
    #button-inscrip-newsletter {
        width: 100%;
    }

    /* products */

    #first-block-image {
        display: none;
    }

    .products {
        height: 50vh;
    }

    #middle-block-images,
    #last-block-images {
        width: 40%;
    }

    #middle-block-images img,
    #last-block-images img {
        width: 180px;
        height: 180px;
    }

    /* about us */
    .about {
        height: 40vh;
    }

    .about-text {
        width: 100%;
    }

    .about .container {
        align-items: center;
        height: 100%;
    }

}

@media (max-width: 768px) {

    /* carousel */
    #carousel-item-active img,
    #carousel-item2 img,
    #carousel-item3 img {
        width: 180px;
        height: 180px;
    }

    #carouselExample {
        width: 100%;
    }

    /* newsletter */
    #about-newsletter {
        width: 45%;
    }

    #subscribe-newsletter {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* products */

    .products {
        height: 60vh;
    }

    .products-images {
        justify-content: space-between;
    }

    #middle-block-images img,
    #last-block-images img {
        width: 150px;
        height: 150px;
    }

    #first-block-image {
        display: none;
    }

    /*  about us */
    .about {
        height: 45vh;
    }

    .about-text {
        width: 80%;
    }

    .about .container {
        height: 100%;
        align-items: flex-start;
    }

    .about p {
        font-size: 14px
    }

}

@media (max-width: 485px) {


    /* newsletter */
    .newsletter {
        height: 20vh;
    }

    #subscribe-newsletter {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* products section */
    .products {
        height: 45vh;
    }

    #middle-block-images img,
    #last-block-images img {
        width: 100px;
        height: 100px;
    }

    /* carousel */
    
    #carousel-item-active img,
    #carousel-item2 img,
    #carousel-item3 img {
        width: 150px;
        height: 150px;
    }

    /* about us */
    .about {
        height: 30vh;
    }
}

@media (max-width: 429px) {


    /* carousel */
    .carousel-control-prev, 
    .carousel-control-next {
        height: 80%;
        align-self: flex-start
    }

    .featured-products-section {
        height: 55vh;
    }

    .featured-products-div {
        height: 40vh;
        width: 100%;
    }

    .carousel-inner {
        height: 30vh;
    }

    #carousel-item-active img,
    #carousel-item2 img,
    #carousel-item3 img {
        width: 120px;
        height: 120px;
    }

    /* newsletter */
    #subscribe-newsletter button {
        margin-left: 0;
    }

    /* slogan */
    #slogan-images img {
        width: 70px;
        height: 70px;
    }
}